@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Open+Sans&display=swap');

$guinda: #96565d;
$naranja: #e7af76;
$azul: #38618c;
$verde: #67a28d;
$gris: #222;
$fondo: #F2F2F2;
$gristexto: #777777;
$bistre: #251605;

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: $gris;
  line-height: 1.6rem;
}

a {
  color: $azul;
}

h2 {
  color: $guinda;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Merriweather, serif;
}

.btn-azul {
  background: $azul;
  color: white;
  &:hover {
    background: lighten($azul, 10%);
    color: white;
  }
}

.btn-verde {
  background: $verde;
  color: white;
  &:hover {
    background: lighten($verde, 10%);
    color: white;
  }
}
