.path-frontpage {
  #header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba($guinda, 0.8);

    @include md {
      position: relative;
      top: auto;
      left: auto;
      background: $guinda;
    }
  }
}

#main-figure {
  img {
    width: 100%;

    @include md {
      width: 100%;
      max-width: 100%;
      height: auto;
    }
  }
}

#home-documentos {
  position: relative;
  margin-top: 80px;

  @include sm {
    margin-top: 10px;
    .instrumentos-container {
      margin-bottom: 50px;
    }
  }

  .col-md-6:first-child:after {
    content: '';
    background-color: #cdcaca;
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
  }

  .titulo-encima {
    position: absolute;
    color: white;
    background: $guinda;
    padding: 20px 25px;
    top: -30px;
    left: 50px;
  }

  .alcalde {
    padding-top: 20px;
    img {
      display: block;
      box-shadow: 10px 10px 0 $guinda;
    }

    h5 {
      color: $guinda;
      font-size: 20px;
    }

    p {
      color: black;
    }
  }
}