{% set title = fields.title.content %}
{% set fecha = fields.field_fec.content %}
<div class="col-md-4">
  <div class="documento-item">
    <h3>{{ title }}</h3>
    <p class="date-container">
      {{ fecha }}
    </p>
  </div>
</div>
